<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update user</title>
</head>
<body>
<h1>Update user: </h1>
<form th:action="@{/user/update}" method="post">
    <div>
        <label for="firstname">Firstname: </label>
        <input type="text" id="firstname" name="firstname" th:value="${user.firstname}" required>
    </div>
    <div>
        <label for="secondName">Second name: </label>
        <input type="text" id="secondName" name="secondName" th:value="${user.secondName}" required>
    </div>
    <div>
        <label for="age">Age: </label>
        <input type="number" id="age" name="age" th:value="${user.age}" required>
    </div>
    <div>
        <label for="telephoneNumber">Telephone number: </label>
        <input type="text" id="telephoneNumber" name="telephoneNumber" th:value="${user.telephoneNumber}" required>
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" th:value="${user.email}" required>
    </div>
    <div>
        <label for="sex">Sex: </label>
        <input type="text" id="sex" name="sex" th:value="${user.sex}" required>
    </div>
    <div>
        <input type="hidden" id="id" name="id" th:value="${user.id}"/>
        <button type="submit">Update</button>
    </div>
</form>
</body>
</html>
