<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h2>Product List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <h3 th:href="@{/products/update/{id}(id=${product.id})}">Update</h3>
            <form th:action="@{/products/delete}" method="post">
                <input type="hidden" name="id" th:value="${product.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h2 th:href="@{/products/create}">Create product</h2>
</body>
</html>