<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User information</title>
</head>
<body>
<h1>User information:</h1>
<p th:span="text">Id: [[${user.id}]]</p>
<p th:span="text">First name: [[${user.firstname}]]</p>
<p th:span="text">Second name: [[${user.secondName}]]</p>
<p th:span="text">Age: [[${user.age}]]</p>
<p th:span="text">Telephone number: [[${user.telephoneNumber}]]</p>
<p th:span="text">Sex: [[${user.sex}]]</p>
<p th:span="text">Created: [[${user.created}]]</p>
<p th:span="text">Updated: [[${user.updated}]]</p>
<p th:span="text">Deleted: [[${user.deleted}]]</p>

<form th:action="@{/user/update/{id}(id=${user.id})}" method="get">
    <button type="submit" class="btn">Update user</button>
</form>
<form th:action="@{/user/delete/{id}(id=${user.id})}" method="post">
    <button type="submit" class="btn">Delete user</button>
</form>
</body>
</html>